* { /*afecta a todo el documento*/
    margin: 0px ; /*distancia de margenes exteriores*/
    padding: 0px; /*distancia de margenes interiores*/
    background-color: rgb(214, 214, 214); /*fondo transparente*/
    box-sizing: border-box; /*borde de los bloques incluidos margin y padding*/
    text-align: center; /*Se centra el contenido*/
    overflow: hidden; /*limita el contenido al tamaño de la pantalla*/
}
@font-face{ /*carga una fuente personalizada desde un archivo*/
    font-family: "fuente"; /*se declara el nombre de la fuente*/
    src: url(digital-7.ttf); /*se selecciona el archivo de la fuente*/
}
html, body { /*afecta a todo el cuerpo del documento*/
    font-family: "fuente"; /*estilo de letra*/  
    height: 100% ; /*se toma como alto de la pag todo el contenido*/
      
}

.video{
  position:absolute;
  top: 40px;
  left : 40px;
  z-index: 1;
}

.vortice{ /*afecta a la seccion marca*/
    position:absolute;
    z-index: -1;
    width: 10%; /*El ancho de la imagen cambia segun el ancho de la pag*/
    max-width: 100px;
    min-width: 50px;
    padding-top: 1%; /*crea un margen interior*/
    animation-name: giro; /*se declara una animacion con el nombre de "bordes"*/
    animation-duration: 6s; /*se declara la duracion de la animacion*/
    animation-iteration-count: infinite; /*se declara las veces que se reproducira la animacion*/
    animation-play-state: running; /*se declara si el estado de pausa/play*/
    animation-direction:reverse; /*se declara el sentido de reproduccion*/
    animation-timing-function: linear; /*se declara la velocidad de reporduccion*/
}
@keyframes giro {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}

.final{ /*afecta a la seccion final*/
    font-size: 3vw; /*tamaño de letra*/
    height: 7%; /*define una altura de 30px a la caja*/
    border-top: solid 1px black; /*colorea solo el border superior de la caja*/
}
